<html>
<head>
<title>Broadcast Service</title>
<meta name="viewport" content="width=device-width">
<!--link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/-->
<link type="text/css" rel="stylesheet" href="/public/chat.css"/>
<style type="text/css">
  /* Space out content a bit */
  body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  #myMaps {
        height: 40%;
        width: 50%;
        margin: 0px 0px auto 20px;
        padding: 0px;
  }
</style>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB4h2Q11CttvQWedEbH8sGyy_8SHxKnpb4"></script>
<script>
var app = angular.module('broadcastService', []);
app.factory('socket', ['$rootScope', function ($rootScope) {
  var socket = io.connect();

  return {
    on: function (eventName, callback) {
      function wrapper() {
        var args = arguments;
        $rootScope.$apply(function () {
          callback.apply(socket, args);
        });
      }

      socket.on(eventName, wrapper);

      return function () {
        socket.removeListener(eventName, wrapper);
      };
    },

    emit: function (eventName, data, callback) {
      socket.emit(eventName, data, function () {
        var args = arguments;
        $rootScope.$apply(function () {
          if(callback) {
            callback.apply(socket, args);
          }
        });
      });
    }
  };
}]);
app.controller('broadcastServiceController', ['$scope', 'socket', function($scope, socket) {
	var map;
	google.maps.event.addDomListener(window, 'load', function() {
		var mapOptions = {
			zoom: 17,
			center: new google.maps.LatLng(-7.276513,112.791692)
		};
		map = new google.maps.Map(document.getElementById('myMaps'),mapOptions);
	});

    $scope.pesanDiterima = []
    socket.emit('retrieveAllMessage', {}, function(data) {
    	$scope.pesanDiterima = data;
    })
    $scope.content = "";
    $scope.destination = "";
    $scope.location = "";
    $scope.mapClick = function() {
    	$scope.location = map.getCenter().toString();
    }
    $scope.sendMessage = function() {
        socket.emit('sendMessage', {content: $scope.content, destination: $scope.destination, location: $scope.location}, function(err) {
            if(err) {
                alert('Some error may happened. Try again.')
            } else {
                alert('Your message was processed');
                $scope.content = "";
            }
        });

    };

    socket.on('retrieveMessage', function(data) {
        $scope.pesanDiterima.push(data);
    });
}]);


</script>
</head>
<body ng-app="broadcastService">
<h3>Choose your location</h3>
<div ng-controller="broadcastServiceController">
<div id="myMaps" ng-click="mapClick()"></div>
<div class="container">
  <section class="module">
    <header class="top-bar">
      <div class="left">
        <span class="icon typicons-message"></span>
        <h1>Broadcast Service</h1>
      </div>
      
      <div class="right">
        <span class="icon typicons-minus"></span>
        <span class="icon typicons-times"></span>
      </div>
    </header>
    
    <ol class="discussion">
      <li class="self">
        <div class="avatar">
          <img src="/public/no_profile_image.png">
        </div>
        <div class="messages">
          <p>Say hello dong.</p>
          <time>Just Now</time>
        </div>
      </li>
      <li class="other" ng-repeat="item in pesanDiterima">
        <div class="avatar">
          <img src="/public/no_profile_image.png">
        </div>
        <div class="messages">
          <p>{{item.content}}</p>
          <time>{{item.source}} • {{item.timestamp}}</time>
          <time>{{item.location}}</time>
        </div>
      </li>
    </ol>
  </section>

  <div class="row" style="margin: 0px 0px auto 20px">
    <div class="col-lg-12">
    	<div class="form-group">
    		<div class="controls"><input type="text" placeholder="Location" class="form-control" ng-model="location"/></div>
    	</div>
        <div class="form-group">
            <div class="controls"><input type="text" placeholder="Destination IP" class="form-control" ng-model="destination" /></div>
        </div>
        <div class="form-group">
            <div class="controls"><input type="text" placeholder="Content" class="form-control" ng-model="content" /></div>
        </div>
        <div class="form-group">
            <button ng-click="sendMessage()" class="btn btn-primary">Send</button>
        </div>
    </div>
  </div>

  <div class="footer">
    <p>&copy; Suli dan Wira 2014</p>
  </div>

</div> <!-- /container -->
</div>
</body>
</html>
